body
{
    font-family: 'Times New Roman', Times, serif;

}
/* NAVBAR */
#NAV #B1
{
    padding: 1%;
    
}

#NAV #B1 #B1 #IMG1
{
    max-width: 100%;
    height: 100px;
}

#NAV #B1 .col-lg-2
{
    font-size: 20px;
    margin-top: -1%;    
}

#NAV li
{
    margin-top:5%;
    font-size: large;
    margin-right: 60px;
    font-weight: bold;
}
#NAV #B1 #B2 
{
    padding-top: 2%;
}

#NAV #B1 #B2 #btn1
{
    margin-top: 5%;
    font-size:110%;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 0px;
}
/* NAVBAR */

/* BANNER */
#S0
{
    margin:0px;
    padding:0px;
    max-height: 100%;

}
/* BANNER */

/* SUB 1: Categories */
#S1 #B1
{
    margin: 0px;
    padding-top:2%;
}

.responsive-img{
    width: 100%;
    height: auto;
    }

#S1 #B1 #B1 #SP1
{
    font-size: 260%;
    font-weight: bold;
    letter-spacing: 4px;
}

#S1 #B1 #B1 #IMG1
{
    max-width: 100%;
    margin-top:-4%;
    width: 25%;
    height: 200px;
}

#S1 #B2
{
    margin-top:-3%;
    margin-bottom: 5%
}
/* Earrings */

 #S1 #B2 #B1
 {
    padding: 5%;
 }

 #S1 #B2 #B1 #C1 #C1 #IMG1
 {
     max-width: 100%;

 }

 #S1 #B2 #B1 #C1 #C2
 {
    background: #555634;
    font-size:200%;
    text-align: center;
    color:#fff
 }

 /* Earrings */

 /* Bangles */

 #S1 #B2 #B2
 {
    padding: 5%;
 }

 #S1 #B2 #B2 #C1 #C1 #IMG1
 {
    max-width: 100%;
 }

 #S1 #B2 #B2 #C1 #C2
 {
    background: #222;
    font-size:200%;
    text-align: center;
    color: #FFF; 
 }


 /* #S1 #B1 #B3
 {
     margin-top: 0%;
     margin-left: 25px;
     height: 50px;
 } */

/* SUB 1: Categories */



/* SUB 2 */
#S2 #B1 #B1 #SP1
{
    font-size: 260%;
    font-weight: bold;
    letter-spacing: 4px;
}

#S2 #B1 #B1 #IMG1
{
    max-width: 100%;
    margin-top:-4%;
    width: 25%; 
}

#S2 #B2
{
    padding-left:9%;
    padding-right: 9%;
}

#S2 #B2 #IMG1
{
    max-width: 100%;
    z-index: 0;
    height: 450px;
}

#S2 #B2 #B1 #B1
{
    height:100px;
    width:170px;
    background:#eee;
    margin-left:-50%;
    margin-top:20%;
    opacity: 0.7;
    z-index:-5555
}

#S2 #B2 #B1 #B2
{
    margin-top: -50%;
    z-index: 999
}

/* #S2 #B2 #B1 #B2 #IMG1
{
    width:580px;
    margin-left:-75%;
    z-index: 999;
    border:20px solid #fff;
    margin-top:30%;
} */
#S2 #B2 #P1
{
    padding-top:2%;
    width: 70%;
    text-align: justify;
    line-height: 20px;
}

#S2 #B2 #BTN1
{
    background-color: #FFF;
    font-weight: bold;    
    border:1px solid #222;
    padding-top:1%;
    padding-bottom:1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 170%;
    margin-top:5%;
    margin-bottom: 10%;
    border-radius: 3%;
}

#S2 #B2 .SP
{
    font-size: 300%;
    display: block;
    font-weight: bold;
    z-index: 999 !important;
    position: relative;
    margin-left: -35%;    
}

/* SUB 2 */













/* SUB 3 */
#S3 
{    
    color: #fff;    
}

#S3 #B1
{
    background-color: #000000;
    padding-left: 10%;
    padding-right: 5%;
    padding-top:5%;
    padding-bottom:5%;
}

#S3 #B1 #B1 #SP1
{
    font-size: 260%;
    font-weight: bold;
}

#S3 #B1 #B1
{
    padding:0px;
}

#S3 #B1 #B1 #P1
{
    font-size: 90%;
    width: 100%;    
    text-align: center;
    
}

#S3 #B1 #B1 #btn1
{
    background-color: #FFF;
    font-weight: bold;    
    border:1px solid #222;
    padding-top:1%;
    padding-bottom:1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 170%;
    margin-top:5%;
    margin-bottom: 10%;
    border-radius: 3%;
}
/* SUB 3 */

/* SUB 4 */
#S4 #B1 #B1 
{
    max-width: 100%;
}
#S4 #SP1
{
    font-size: 250%;
    font-weight: bold;
    
}

#S4 #B1 #B1 #B2
{
    margin-top: 0%;
    margin-left: 12%;
    margin-right: 12%;
    max-height: 100%;
 
}
/* SUB 4 */

/* SUB 5 */
#S5
{
    margin:0px;
    padding: 0px;
}
#S5 #B1
{    
    padding: 0px;
}

#S5 #B1 #B1
{
    margin:0px;
    padding: 0px;
}

#S5 #B1 #B2
{
    padding:0px;
    padding-top: 10%;
}

#S5 #B1 #B2 #B1
{    
    background-color: rgb(241, 241, 241);
    height: 100%;
    padding-top: 10%;
    padding-left: 20%;    
    padding-right: 20%;    
}

#S5 #B2
{
    
    padding-top: 2%; 
    /* height: 100%; */
}

#S5 #B2 #B1 #SP1
{       
    font-size: 300%;
    font-weight: bold;
}

#S5 #B2 #B1 #P1
{
    font-size: 140%;    
    text-align: center;
    margin-top:-5%;
}

#S5 #B2 #B1 p
{
    text-align: justify;
    font-size: 120%;
    line-height: 22px;
    color:#666; 
}

#S5 #B2 #B1 #btn1
{
    background-color: #fff;
    font-weight: bold;
    border:1px solid #222;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:5%;
    padding-right:5%;
    font-size: 170%;
    margin-top:5%;
    border-radius: 2.5%;
}

#S5 #B2 h5 p
{
    text-align: center;
    padding: 50%;
}
/* SUB 5 */


/* SUB 6: PACKAGING */
#S6
{
    padding:3%;
}

#S6 #B1 #B1 #SP1
{
    font-size: 250%;
    font-weight: bold;      
    letter-spacing: 2px;
}

#S6 #B2
{
    padding-top:2%;
    padding-left: 8%;
    padding-right: 8%;
}
/* SUB 6: PACKAGING */

/* SUB 7: Featured */
#S7
{
    padding-top: 2%;
    padding-bottom: 5%;
}

#S7 #B1
{
    padding: 1%;
}

#S7 #B1 #B2 .IM
{
    max-width: 100%;    
    margin:1%;
}

#S7 #B1 #B1 #SP1
{
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 4px;
}
/* SUB 7: Featured */




/* SUB 8 */
#S8 #B1
{
    background: #3A3F20;
    padding:2%;
}

#S8 #B1 #B2 #I1
{
    max-width: 100%;
    height: 100px;
}

#S8 #B1 #B4 #B1 #SP1
{
    font-size: 150%;
    font-weight: bold;
    color: #fff;
}

.socialIcons
{
    margin-right:4%;    
}
/* SUB 8 */

.carousel-item {
    height: 85vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

















